.report-p > .word > .char:nth-of-type(3) {
  opacity: 0.625;
}
.report-p > .word > .char:nth-of-type(5) {
  text-shadow: 0.025em 0.025em black;
}
.report-p > .word > .char:nth-of-type(7) {
  transform: rotate(5deg);
}